.mainContainer{
    display: block;
    justify-content: center;

}
.top{
    display: flex;
    justify-content: space-around;
}
.infoAboutArticle{
    display: flex;
    flex-direction: column;
    /* width: 50vw; */
    justify-content: center;
    align-items: center;

}
.land{
    display: flex;
    width: 50vw;
    margin-top: 2em;
    justify-content: space-between;
}
.infoHeader{
    display: flex;
    width: 35%;
    justify-content: space-between;
    flex-direction: row;
}
.infoOfArticle{
    display: block;
    flex-direction: column;
    margin-top: 0.5em;
    justify-content: center;
    /* align-items: center; */
}
.socialMediaAccs{
    display: flex;
    width: 20%;
    margin-top: 0.5em;
    justify-content: space-around;
}
.facebk,.twitr,.insta,.youtube{
    display: flex;
    width: 40px;
    height: 40px;
}

.img {
    display: flex;
    width: 50vw;
    justify-content: flex-start;
    margin-top: 2em;
}
.infoTitle{
    display: flex;
    width: 50vw;
    margin-top: 3em;
}
.discrption{
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
}
.sharePost{
    position: fixed;
    left: 11%;
    top:36%
}
.likeIcn,.shareIcon{
    display: flex;
    width: 40px;
}
.writtenBysection{
    width: 50vw;
    margin-top: 1.5em;
}
hr{
    width: 50vw;
}
.likeBox{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
}
.writterDetails{
    display: flex;
    margin-top: 1.5em;

    
}
.profilePngg{
    display: flex;
    width: 5em;
    height: 5em;
}
.details{
    margin-left: 1em;
}
.wrtnDtls{
    /* line-height: 20px; */
    margin-top: 0.7em;
}
.moreFromSameCategory {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}
.firstDiv,.secondDiv,.thirdDiv{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.someImg{
    display: flex;
    width: 3em;
}
.oneMore{
    display: flex;
}
.imgg{
    display: flex;
    width: 100%;
}
.backBtn{
    display: flex;
    width: 5em;
    margin-top: 2em;
    margin-bottom: 3em;
}
.backBtnIcon{
    display: flex;
    width: 100%;
}