.mainContainer{
    display: block;
    justify-content: center;

}
.top{
    display: flex;
    justify-content: space-around;
}
.infoAboutArticle{
    display: flex;
    flex-direction: column;
    /* width: 50vw; */
    justify-content: center;
    align-items: center;

}
.land{
    display: flex;
    width: 50vw;
    margin-top: 2em;
    justify-content: space-between;
}
.infoHeader{
    display: flex;
    width: 35%;
    justify-content: space-between;
    flex-direction: row;
}
.infoOfArticle{
    display: block;
    flex-direction: column;
    margin-top: 0.5em;
    margin-left: 1em;
    justify-content: center;
    /* align-items: center; */
}
.socialMediaAccs{
    display: flex;
    width: 20%;
    margin-top: 0.5em;
    justify-content: space-around;
}
.facebk,.twitr,.insta,.youtube{
    display: flex;
    width: 40px;
    height: 40px;
}

.img {
    display: flex;
    width: 50vw;
    justify-content: flex-start;
    margin-top: 2em;
}
.infoTitle{
    display: flex;
    width: 50vw;
    margin-top: 3em;
}
.discrption{
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
}
.sharePost{
    position: fixed;
    left: 11%;
    top:36%
}
.likeIcn,.shareIcon{
    display: flex;
    width: 40px;
}
.writtenBysection{
    width: 50vw;
    margin-top: 1.5em;
}
hr{
    width: 50vw;
}
.likeBox{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
}
.writterDetails{
    display: flex;
    margin-top: 1.5em;

    
}
.profilePngg{
    display: flex;
    width: 5em;
    height: 5em;
}
.details{
    margin-left: 1em;
}
.wrtnDtls{
    /* line-height: 20px; */
    margin-top: 0.7em;
}
.moreFromSameCategory {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}
.firstDiv,.secondDiv,.thirdDiv{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.someImg{
    display: flex;
    width: 3em;
}
.oneMore{
    display: flex;
}
.imgg{
    display: flex;
    width: 100%;
}
.backBtn{
    display: flex;
    width: 5em;
    margin-top: 2em;
    margin-bottom: 3em;
}
.backBtnIcon{
    display: flex;
    width: 100%;
}
.authorName {
    font-weight: bolder;
    font-size: x-large;
}
.socialMediaAccs{
    display: flex;
    width: 28%;
}
#someImg {
    display:"flex";
    width:"4em"
}
hr{
    display: none;
}
@media only screen and (max-width:500px) {
    .moreFromSameCategory {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }    
    .secondDiv{
        margin-top: 2em;
    }
    .firstDiv{
        margin-bottom: 2em;
    }
    .thirdDiv{
        margin-top: 2em;
    }
    .land{
        width: 90vw;
        display: block;
    }
    .socialMediaAccs {
        width: 50%;
        margin-left: 7em;
        margin-bottom: 2em;
    }
    .infoOfArticle{
        height: 20vh;
        margin-left: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .more {
        margin-top: 2em;
    }
    .infoHeader{
        display: inline-flex;
    }
    .img{
        width:80vw
    }
    .infoTitle{
        width: 80vw;
    }
    .discrption{
        width: 80vw;
    }
    .writtenBysection{
        width: 90vw;
    }
    .moreFromSameCategory{
        width: 80vw;
    }
    .firstDiv{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    hr{
        width: 90%;
    }
    .imgg {
        width: 20%;
        height: 13vh;
    }
    .secondDiv {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .authorName {
        display: none;
        font-weight: bold;
        font-size: medium;
    }
    .readMore{
        display: none;
    }
    #someImg{
        display: none;
        /* width: 2em;
        height: 2em; */
    }
    .oneMore{
        height: 18vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .thirdDiv{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .someImg{
        width: 2em;
    }
    .bckBtn{
        margin-top: 2em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .land {
        width: 90vw;
    }
    .infoTitle{
        width: 60vw;
    }
    .img {
        width: 80%;
    }
    .infoTitle{
        width: 80%;
        font-size: xx-large;
    }
    .discrption {
        width: 80%;
        font-weight: 600;
        font-size: x-large;
    }
    .postname {
        display: none;
    }
    .more{
        font-weight: bolder;
        font-size: xx-large;
    }
    .moreFromSameCategory{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
    }
    #someImg{
        display: flex;
        width: 2em;
        height: 2em;
    }
    hr{
        display: none;
    }
    .authorName{
        display: none;
    }
    .oneMore{
        display: flex;
        flex-direction: column;
    }
    .infoOfArticle{
        margin-left: 1em;
    }
    .socialMediaAccs{
        display: flex;
        width:30%
    }
    .sharePost{
        position: sticky;
        right: 0%;
    }

}